// _tile.scss

@import '_variables', '_icons';

@-webkit-keyframes hearted {
  100% {
    top: -15px;
    right: -15px;
    bottom: -15px;
    left: -15px;
    opacity: 0;
  }
}

@keyframes hearted {
  100% {
    top: -15px;
    right: -15px;
    bottom: -15px;
    left: -15px;
    opacity: 0;
  }
}

.tile {
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 6px 6px 0px $trans-grey;
  margin-bottom: $tile-default-margin-bottom;
  &:hover{
      cursor: pointer;
  }
  a{
    text-decoration: none;
  }
  &__header, &__footer{
    padding: 2%;
    position: relative;
  }
  &__header{
    &:before{
      font-family: 'icomoon';
      content: "\e903";
      font-size: 80px;
      color: $tile-white;
      background-color: $tile-orange;
      position: absolute;
      top: 0;
      left: 0;
      width: 90px;
      height: 90px;
      border-bottom-right-radius: 150px;
      border-color: $tile-white;
      border-style: solid;
      border-bottom-width: 2vw;
      border-right-width: 2vw;
      border-left: 0;
      border-top: 0;
      border-top-left-radius: 10px;
      @media screen and (min-width: $desktop){
          border-bottom-width: 20px;
          border-right-width: 20px;
      }
    }
  }
  &__footer{
    border-top: solid 1px $tile-trans-grey;
  }
  &__heart{
    position: absolute;
    right: 8%;
    top: 10%;
    background: $tile-off-white;
    color: $tile-trans-grey;
    padding: 20px;
    border-radius: 30px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    &:before{
        content: '';
        position: absolute;
        border: $tile-off-white solid 5px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        border-radius: 30px;
    }
    &--animate{
        &:before{
            -webkit-animation-name: hearted;
            animation-name: hearted;
            border-color: $tile-red;
            border-radius: 90px;
        }
    }
    &--active{
        display:block;
        color: $tile-white;
        background: $tile-red;
        &:before{
            border-color: $tile-red;
        }
    }
    @media screen and (min-width: $desktop) {
        display:none;
        .tile:hover & {
            display:block;
        }
    }
  }
  &__thumbnail {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1vw;
    &::selection{
        background-color: transparent;
    }
  }
  &__title, &__duration{
    font-size: 5vw;
    @media screen and (min-width: $desktop){
        font-size: 50px;
    }
  }
  &__title{
    color: $tile-green;
    font-weight: 900;
    border-bottom: solid 0.5vw;
  }
  &__duration{
    color: $tile-light-grey;
    float: right;
  }
  &__category{
    color: $tile-grey;
    font-size: 4vw;
    display:block;
    @media screen and (min-width: $desktop){
        font-size: 40px;
    }
  }
}
