// tile/_variables.scss


$tile-white: #ffffff;
$tile-off-white: #f5f5f5;
$tile-grey: #999999;
$tile-light-grey: #919191;
$tile-trans-grey: rgba( $light-grey, .25 );
$tile-orange: #f5841f;
$tile-green: #6cc18d;
$tile-red: #f00f00;

$tile-default-margin-bottom: 20px;

$desktop: 1024px;
