%article.tile
  %button.tile-button--add
  %header.tile-header
    %button.tile-button--favorite
    .tile-inner
      %figure.tile-figure
        %a.tile-link{ :href => "#", :onClick => "return false;"}
          %img.tile-thumbnail{ :src => "./assets/images/the-penguin-song.png", :alt => "The Penguin Song"}
          .tile-info
            %h3.tile-title.table-cell
              %span.tile-underline
                The Penguin Song
            %span.tile-runtime.table-cell.align-right
              1:28
  %footer.tile-footer
    .tile-inner
      %a.tile-link.tile-footer-link{:href => "#", :onClick => "return false;"}
        %span.tile-more
          View More
        %span.tile-category.tile-category--dancing
          Guided Dancing
