%article.tile
	%button.add-playlist
	%button.heart
	.tile-inner
		%header
			%img{ :src => "./assets/images/the-penguin-song.png", :alt => "The Penguin Song"}
			%h2.tile-title
				The Penguin Song
			%span.runtime
				1:28
		%footer
			%a{:href => "#"}= "View more"
			%h3.category.dancing-guided
				Guided Dancing
