%article.tile
	%button.add-playlist.icon-plus
	%header
		%button.favorite
		.tile-inner
			%figure
				%img{ :src => "./assets/images/the-penguin-song.png", :alt => "The Penguin Song"}
				%figcaption.tile-info
					%h3.tc.tile-title
						%a{ :href => "#"}= "The Penguin Song"
					%span.tc.runtime.icon-clock.ar
						1:28
	%footer
		.tile-inner
			%a{:href => "#"}
				%span.ib.more
					View More
				%span.ib.category.dancing-guided
					Guided Dancing
