/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("/assets/fonts/icomoon.eot?dcouzy");
  src: url("/assets/fonts/icomoon.eot?dcouzy#iefix") format("embedded-opentype"), url("/assets/fonts/icomoon.ttf?dcouzy") format("truetype"), url("/assets/fonts/icomoon.woff?dcouzy") format("woff"), url("/assets/fonts/icomoon.svg?dcouzy#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-icon-clock:before {
  content: "\e900"; }

.icon-icon-heart:before {
  content: "\e901"; }

.icon-icon-heart-outline:before {
  content: "\e902"; }

.icon-icon-plus:before {
  content: "\e903"; }

.tile {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 6px 6px 0px rgba(145, 145, 145, 0.25); }
  .tile a {
    text-decoration: none; }
  .tile__header, .tile__footer {
    padding: 20px;
    position: relative; }
  .tile__header:before {
    font-family: 'icomoon';
    content: "\e903";
    font-size: 90px;
    color: #ffffff;
    background-color: #f5841f;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 120px;
    max-height: 120px;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 150px;
    border-color: #fff;
    border-style: solid;
    border-bottom-width: 20px;
    border-right-width: 20px;
    border-left: 0;
    border-top: 0;
    border-top-left-radius: 10px; }
  .tile__footer {
    border-top: solid 1px rgba(145, 145, 145, 0.25); }
  .tile__thumbnail {
    width: 100%;
    max-width: 100%; }
  .tile__title, .tile__duration {
    font-size: 2.5em;
    line-height: 1.5; }
  .tile__title {
    color: #6cc18d;
    font-weight: 900;
    border-bottom: solid 5px; }
  .tile__duration {
    color: #919191;
    float: right; }
  .tile__category {
    color: #999999;
    font-size: 1.75em;
    line-height: 1.5;
    display: block; }

body {
  background-color: #f5f5f5; }

.app {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px; }
  .app:after {
    content: " ";
    display: block;
    clear: both; }
