/* CSS Document */
/** this is the reset style sheet for all sites **/
/** this makes it so that when a box has a defined width the padding is inset instead of expanding the box**/
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* z-indexes */
/* font sizes */
html {
  font-size: 16px;
  font-family: "museo-sans",serif; }

body {
  background: #f5f5f5; }

article.card {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  padding: 1rem 1rem 0.75rem;
  background: white;
  overflow: hidden;
  -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s, -webkit-transform 0.3s; }
  article.card:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    -webkit-transform: translate(-50%, calc(-50% - 3px));
            transform: translate(-50%, calc(-50% - 3px)); }
    article.card:hover .heart {
      opacity: 1; }
  article.card .plus {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.875rem;
    height: 3.875rem;
    border-right: solid 0.6rem white;
    border-bottom: solid 0.6rem white;
    border-bottom-right-radius: 80px;
    background: #f5841f;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s; }
    article.card .plus:hover {
      background: #eb740a; }
      article.card .plus:hover svg {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg); }
    article.card .plus svg {
      position: absolute;
      top: 0.2rem;
      left: 0.2rem;
      width: 2.5rem;
      height: 2.5rem;
      fill: white;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
  article.card .heart {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    width: 3rem;
    height: 3rem;
    background: rgba(245, 245, 245, 0.85);
    opacity: 0;
    border-radius: 50%;
    -webkit-transition: opacity 0.3s, background 0.3s;
    transition: opacity 0.3s, background 0.3s;
    cursor: pointer;
    z-index: 1050; }
    article.card .heart:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: solid 3px #eb2226;
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      opacity: 0;
      z-index: -1; }
    article.card .heart:hover {
      background: #f5f5f5; }
    article.card .heart.favorite {
      background: #eb2226; }
      article.card .heart.favorite:before {
        -webkit-animation: heartCircle 0.5s;
                animation: heartCircle 0.5s; }
      article.card .heart.favorite:first-of-type {
        opacity: 0; }
      article.card .heart.favorite svg:nth-of-type(2) {
        opacity: 1; }
    article.card .heart svg {
      position: absolute;
      top: 0.9rem;
      left: 50%;
      width: 1.25rem;
      height: 1.25rem;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s; }
      article.card .heart svg:first-of-type {
        fill: #69787a; }
      article.card .heart svg:nth-of-type(2) {
        opacity: 0;
        fill: white; }
  article.card figure {
    width: 100%; }
    article.card figure img {
      width: 100%; }
    article.card figure figcaption {
      display: inline-block;
      color: #6cc18d;
      font-size: 1.25rem;
      font-weight: 900;
      border-bottom: solid 2px;
      padding: 0.625rem 0 2px;
      margin-bottom: 1rem; }
    article.card figure span.time {
      display: inline-block;
      position: relative;
      float: right;
      margin-top: 0.625rem;
      font-size: 1rem;
      font-weight: 500;
      color: #999; }
      article.card figure span.time svg {
        position: relative;
        top: 0.125rem;
        width: 1rem;
        height: 1rem;
        fill: #999; }
  article.card aside {
    position: relative;
    width: calc(100% + 2rem);
    margin-left: -1rem;
    padding: 0.75rem 1rem 0;
    border-top: solid 1px #eee;
    cursor: pointer; }
    article.card aside:hover .slide {
      -webkit-transform: translateX(95px);
              transform: translateX(95px); }
    article.card aside .under {
      position: absolute; }
    article.card aside .slide {
      display: inline-block;
      position: relative;
      background: white;
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.31, 0.3, 0.23, 1.3);
      transition: -webkit-transform 0.3s cubic-bezier(0.31, 0.3, 0.23, 1.3);
      transition: transform 0.3s cubic-bezier(0.31, 0.3, 0.23, 1.3);
      transition: transform 0.3s cubic-bezier(0.31, 0.3, 0.23, 1.3), -webkit-transform 0.3s cubic-bezier(0.31, 0.3, 0.23, 1.3); }
    article.card aside svg {
      width: 2rem;
      height: 2rem; }
    article.card aside p {
      display: inline-block;
      vertical-align: top;
      line-height: 2rem;
      color: #919191;
      margin-left: 7px;
      font-size: 0.9375rem; }

@-webkit-keyframes heartCircle {
  30% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }

@keyframes heartCircle {
  30% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }
