!!! 5
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{ :lang => "en"}
  <!--<![endif]-->
  %head
    %title= "GoNoodle - Tile Component"
    %meta{ :charset => "utf-8" }
    %meta{ 'http-equiv' => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"}
    %link{ :href => "assets/css/noodletile.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }		

  %body.page-tile
    %main.container--tile
      !=render :tile
      !=render :tile
      !=render :tile
  
    <!-- @if gitBranch === 'master' -->
    %script{ :src => "assets/js/noodletile.min.js" }
    <!-- @endif -->
    <!-- @if gitBranch == 'test' -->
    %script{ :src => "assets/js/noodletile.js" }
    <!-- @endif -->
    <!-- @if gitBranch == 'dev' -->
    %script{ :src => "assets/js/utilLayer.js" }
    %script{ :src => "assets/js/typekit.js" }
    %script{ :src => "assets/js/tile.js" }
    %script{ :src => "assets/js/eventLayer.js" }
    <!-- @endif -->