$color-orange = #f5841f
$color-red = #ec2227
$color-green = #6cc18d
$color-dark-gray = #919191
$color-darker-gray = #999999
$color-offwhite = #f9f9f9
$transition-speed-easing = 0.2s ease-out
$font-museo = 'museo-sans', 'Helvetica', Arial, sans-serif