
.icon-icon-heart-outline:before { content: '\e800'; } /* '' */
.icon-icon-clock:before { content: '\e801'; } /* '' */
.icon-icon-heart:before { content: '\e802'; } /* '' */
.icon-icon-plus:before { content: '\e803'; } /* '' */
.icon-icon-shoe-dancing:before { content: '\e804'; } /* '' */
