footer{
	a{		
		display: block;
		position: relative;
		width: $tileWidth;
		
		.more{
			position: absolute;
			z-index: 1;
		}

		.category{
			position: relative;
			z-index: 2;
		}

		&:hover{
			.category{
				margin-left: em(90);
			}
		}
	}

	.tile-inner{
		padding-bottom: em(14);
	}
}

.tc{
	display: table-cell;
}

.tile{
	margin-bottom: em(16);
	max-width:	$tileMaxwidth;	
	position:	relative;	
	width:	$tileWidth;

	button{
		position: absolute;

		&.add-playlist{			
			left: 0;
			top: 0;

			width:	$plusBtnSz;
			height: $plusBtnSz;
		}

		&.favorite{
			padding: em(14);
			
			right: em(12) + $tileVertpad;
			top: em(24);
		}
	}
}

.tile-info{
	display: table;
	margin: em(6) 0;
	width: $tileWidth;
}

.tile-inner{
	padding: 12px $tileVertpad 11px;
}

#main-content{
	margin:	0 auto;
	max-width:$tileMaxwidth;
	padding:em(16) em(12) em(14);
}