.container--tile{
	margin:	0 auto;
	max-width:$tileMaxwidth;
	padding:em(16) em(12) em(14);
}

.table-cell{
	display: table-cell;
}

.tile{
	margin-bottom: em(16);
	max-width:	$tileMaxwidth;	
	position:	relative;	
	width:	$tileWidth;
}

.tile-category{
	position: relative;
	z-index: 2;
}

.tile-footer-link{
	display: block;
	position: relative;
	width: $tileWidth;
}

.tile-info{
	display: table;
	margin: em(6) 0;
	width: $tileWidth;
}

.tile-inner{
	padding: 12px $tileVertpad 11px;

	.tile-footer &{
		padding-bottom: em(14);
	}
}

.tile-more{
	position: absolute;
	z-index: 1;
}





