.align-right{
	text-align: right;
}

.tile{
	font:{
		family: $tilefont;
		size: $baseFontSz;
	};
}

.tile-link{
	@include user-select(none);
	
	color: $linkdefault;
	text-decoration: none;
}

.tile-title{
	color: $tiletitle;
	font-weight: 700;
}

.tile-underline{
	@extend .tile-title;

	border-bottom: 2px solid $tiletitle;
	padding-bottom: 2px;
}

.tile-runtime{
	@extend .icon-clock;

	color: $tileruntime;
	
	&::before{
		@extend .icon-before;
		line-height: em(17);
		vertical-align: middle;
	}
}
